---
import Layout from "../layouts/Layout.astro"
import Navbar from "../components/Navbar.astro";
import Hero from "../sections/Hero.astro";
import Servicios from "../sections/Servicios.astro";
import Presupuesto from "../sections/Presupuesto.astro";
import Proceso from "../sections/Proceso.astro";
import Galeria from "../sections/Galeria.astro";
import Contacto from "../sections/Contacto.astro";
import Footer from "../sections/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />		
	</head>
	<body class="bg-slate-300 text-gray-900">
		<Layout title="Reparacion de soldadoras inverter - Inverters">
			<Navbar />
			<Hero />
			<Servicios />
			<Presupuesto />
			<Proceso />
			<Galeria />
			<Contacto />
			<Footer />
		</Layout>
	</body>
</html>
