---
import Logo from "../../public/InverTers.png"
import Image from "astro/components/Image.astro"
---

<div class="">
  <Image class="h-auto w-24 md:w-32 p-1" src={Logo} alt="Logo de Soldadoras Inverter" />
</div>
