---
---

<nav class=" text-white p-4 flex justify-between">
    <img src="/logo.svg" alt="Logo" class="h-8 w-8" />
    <ul class="flex space-x-4">
        <li><a href="/">Inicio</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
</nav>