---

---

<footer class="mx-auto max-w-4xl px-4 py-4 bg-black text-white gap-4 text-sm">  
<p class="my-1">©2025 | Todos los derechos reservados</p>
<p>by <a  target="_blank" href="https://www.codeblitz.com.ar" class="font-semibold text-yellow-300">codeBlitz</a></p>
</footer>




