---

---

<section class="px-4 py-20 max-w-4xl mx-auto">
  <h1 class="text-5xl/14 font-bold">
    Reparación de soldadoras inverter y herramientas eléctricas
  </h1>
  <p class="text-lg/6 mt-2">
    Ofrecemos un servicio rápido y garantizado para la reparación de sus
    herramientas eléctricas. Confíe en nuestros expertos para mantener su equipo
    en óptimas condiciones.
  </p>
  <div class="mt-8 flex space-x-4">
    <button class="bg-slate-900 hover:bg-slate-700 text-white px-4 py-2 rounded font-semibold"
      >Solicitar presupuesto</button
    >    
  </div>
  <img
    src="/public/welding.jpg"
    alt="Persona Soldando"
    class="mt-8 w-full h-auto rounded-lg shadow-lg"
  />
</section>

<style>

</style>