---
---

<section class="h-64 flex flex-col items-center justify-center gap-4 presupuesto-section">
    <button class="outline-2 hover:bg-slate-600 text-white px-6 py-3 rounded font-semibold transition duration-300">
        Solicitar Presupuesto
    </button>
</section>

<style>
    .presupuesto-section {
        background-image: url('/public/presupuesto-bg.jpg');
        background-size: 300%;
        background-attachment: fixed;
        background-position: center;                    
    }
</style>