---

---

<section class="mx-auto max-w-4xl px-4 py-32 bg-white text-black">
  <div class="text-center mb-8">
    <h6 class="font-bold text-slate-600">Proceso</h6>
    <h2 class="text-3xl font-semibold">Trabajamos para su satisfacción</h2>
    <p class="mt-4">
      Nuestro proceso está diseñado para ser eficiente y transparente. Desde la
      inspección inicial hasta la entrega final, garantizamos calidad en cada
      paso.
    </p>
  </div>

  <hr class="my-6 border-gray-700" />

  <!-- Proceso 1 -->
  <div class="mt-6">
    <div
      class="icon-container flex items-center justify-center text-blue-200 mb-2"
    >
      <!-- Imagen de Soldadora -->
      <img
        class="rounded max-w-full"
        src="/public/inverter.jpg"
        alt="Soldadora"
        class="h-64"
      />
    </div>
    <div class="text-center">
      <h3 class="text-2xl font-bold">1: Inspección detallada de su equipo</h3>
      <p class="mt-2">
        Realizamos un diagnóstico exhaustivo para identificar problemas.
      </p>
    </div>
  </div>

  <hr class="my-6 border-gray-700" />

  <!-- Servicio 2 -->
  <div class="mt-6">
    <div class="icon-container flex items-center justify-center mb-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-list-check"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3.5 5.5l1.5 1.5l2.5 -2.5"></path><path
          d="M3.5 11.5l1.5 1.5l2.5 -2.5"></path><path
          d="M3.5 17.5l1.5 1.5l2.5 -2.5"></path><path d="M11 6l9 0"></path><path
          d="M11 12l9 0"></path><path d="M11 18l9 0"></path></svg
      >
    </div>
    <div class="text-center">
      <h3 class="text-2xl font-bold">2: Presupuesto claro y sin sorpresas</h3>
      <p class="mt-2">
        Le proporcionamos un presupuesto detallado antes de proceder.
      </p>
    </div>
  </div>

  <hr class="my-6 border-gray-700" />

  <!-- Servicio 3 -->
  <div class="mt-6">
    <div class="icon-container flex items-center justify-center mb-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="48"
        height="48"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-certificate"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M15 15m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path><path
          d="M13 17.5v4.5l2 -1.5l2 1.5v-4.5"></path><path
          d="M10 19h-5a2 2 0 0 1 -2 -2v-10c0 -1.1 .9 -2 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -1 1.73"
        ></path><path d="M6 9l12 0"></path><path d="M6 12l3 0"></path><path
          d="M6 15l2 0"></path></svg
      >
    </div>
    <div class="text-center">
      <h3 class="text-2xl font-bold">
        Paso 3: Reparación por técnicos certificados
      </h3>
      <p class="mt-2">Somos expertos en la reparación con precisión.</p>
    </div>
  </div>
  <div
    class="h-32 flex flex-col items-center justify-center gap-4"
  >
    <button
      class="bg-slate-900 hover:bg-slate-600 text-white px-6 py-3 rounded font-semibold transition duration-300"
    >
      Solicitar Presupuesto
    </button>
  </div>
</section>
